li { cursor: pointer; }

.card{
  padding: 10px;
}


.full-width-div{
  width: 100%;
}

#top-row{
  background: gray;
}

.side-nav{
  margin-top: 20px;
}

.fa-window-close{
  color: red;
}

#course-editor-heading{
  background: lightgrey;
  color: black;
  text-align: center;
}


#course-editor-second-row{
  background: lightgrey;
}

#course-editor-module-list{
  background: lightgrey;
}


.topic-pill {
  color: black;
  background-color: lightgrey;
}

.active {
  color: aqua;
  background-color: gray;
}
