<div>
  <div class="row" id="course-editor-second-row">
    <div class="col-4 d-none d-md-block">
      <h4 id="course-editor-heading">Course Editor: <!--{{this.state.course.title}}--></h4>
    </div>
    <div className="col-8">
      <app-lesson-tabs></app-lesson-tabs>
    </div>
  </div>
  <div class="row">
    <div class="col-4 d-none d-md-block" id="course-editor-module-list">
      <app-module-list></app-module-list>
    </div>
    <div class="col-8">
      <app-topic-pills></app-topic-pills>
      <app-widget-list></app-widget-list>
    </div>
  </div>
</div>
