<div class="row">
  <div class="card col-sm-12 col-md-4 col-lg-2"
       *ngFor="let course of courses">
    <img class="card-img-top"
         src="https://picsum.photos/300/200">
    <div class="card-body">
      <h5 class="card-title">
        <a routerLink="./{{course.id}}/module">
          {{course.title}}
        </a>
      </h5>
    </div>
  </div>
</div>

<!--
<div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr class="table-heading">
        <th class="title">Title</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-heading"
          *ngFor="let course of courses">
        <td class="title">
          <a routerLink="./{{course.id}}/module">
            {{course.title}}
          </a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
-->
